// footer
footer.footer
  .container 
    .footer__top 
      .footer__title Свяжитесь с нами
        span Напишите ваш вопрос, и мы ответим
      .footer__contact 
        ul 
          li 
            a(href="mailto:toys@prof-press.ru") 
              svg(class="icon-mail")
                use(xlink:href="img/sprite.svg#mail")
              | toys@prof-press.ru / help@redcat-toys.ru
          li 
            a(href="tel:88632040125") 
              svg(class="icon-phone")
                use(xlink:href="img/sprite.svg#phone")
              | 8 (863) 204-01-25
          li 
            p 346720, Ростовская область, г. Аксай, 
            p ул. Шолохова, 1Б, оф. 9
            p Пн–Пт с 9:00 до 18:00
      .footer__btn 
        a(href="#") Задать вопрос
    .footer__middle 
      .footer__logo 
        img(src="img/logo.svg", alt="")
      nav.footer__nav 
        ul 
          li 
            a(href="#") Дилерам
      .footer__social 
        ul 
          li 
            a(href="#") 
              svg(class="icon-ok")
                use(xlink:href="img/sprite.svg#ok")
          li 
            a(href="#") 
              svg(class="icon-vk")
                use(xlink:href="img/sprite.svg#vk")
          li 
            a(href="#") 
              svg(class="icon-telega")
                use(xlink:href="img/sprite.svg#telega")
    .footer__bottom 
      .footer__copyright © 2022 Селфи конструктор. Все права защищены <br>Created by ArtInt
      .footer__policy 
        a(href="#") Политика конфиденциальности
//	/footer