// header
header#headerSticky.header
  .container 
    a(href="#").header__logo 
      img(src="img/logo.svg", alt="")
    .header__container#menuMobile
      a(href="#").header__logo.header__logo--mobile.d-md-none.d-block
        img(src="img/logo.svg", alt="")
      nav.header__nav 
        ul 
          li 
            a(href="#") Дилерам
      .header__social 
        ul 
          li 
            a(href="#") 
              svg(class="icon-ok")
                use(xlink:href="img/sprite.svg#ok")
          li 
            a(href="#") 
              svg(class="icon-vk")
                use(xlink:href="img/sprite.svg#vk")
          li 
            a(href="#") 
              svg(class="icon-telega")
                use(xlink:href="img/sprite.svg#telega")
      .header__close.js-drop-close(data-drop="menuMobile")
    .header__hamburger.js-drop-menu(data-drop="menuMobile").hamburger.hamburger--squeeze 
      .hamburger-box 
        .hamburger-inner
//	/header