// header
header#headerSticky.header
  .container 
    a(href="#").header__logo 
      img(src="img/logo.svg", alt="")
    .header__container 
      nav.header__nav 
        ul 
          li 
            a(href="#") Дилерам
      .header__social 
        ul 
          li 
            a(href="#") 
              svg(class="icon-ok")
                use(xlink:href="img/sprite.svg#ok")
          li 
            a(href="#") 
              svg(class="icon-vk")
                use(xlink:href="img/sprite.svg#vk")
          li 
            a(href="#") 
              svg(class="icon-telega")
                use(xlink:href="img/sprite.svg#telega")
    .header__hamburger 
//	/header