extends core/base.pug

block title 
  title Варианты конструктор

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              span Конструктор
      // /breadcrumbs

      // options
      .options
        .container 
          .options__section 
            .options__title Конструктор 40х40
            .options__cards 
              .row.justify-content-center.row-cols-xl-3.row-cols-md-2.row-cols-1
                .col 
                  mixin options_card(imgSrc, name, imgSrcMobile)
                    a(href="#").options__card 
                      .options__content 
                        .options__img 
                          picture 
                            source(media="(max-width: 678px)", srcset= imgSrcMobile)
                            img(src= imgSrc, alt="")
                        .options__icons 
                          .row
                            .col-md-12.col-6
                              .options__icon-item
                                .options__icon 
                                  img(src="img/options_icon/img-1.png", alt="")
                                p 6 цветов
                            .col-md-12.col-6
                              .options__icon-item
                                .options__icon 
                                  img(src="img/options_icon/img-2.png", alt="")
                                p 10 часов
                            .col-md-12.col-6
                              .options__icon-item
                                .options__icon 
                                  img(src="img/options_icon/img-3.png", alt="")
                                p 3 900
                            .col-md-12.col-6
                              .options__icon-item
                                .options__icon 
                                  img(src="img/options_icon/img-4.png", alt="")
                                p 40×40 см
                      .options__name= name
                  +options_card('img/options/img-1.png', 'Классик', 'img/options/img-1-mobile.png')
                .col 
                  +options_card('img/options/img-2.png', 'Гранж', 'img/options/img-2-mobile.png')
                .col 
                  +options_card('img/options/img-3.png', 'Ретро', 'img/options/img-3-mobile.png')
          .options__section 
            .options__title Конструктор 52х52
            .options__cards 
              .row.justify-content-center.row-cols-xl-3.row-cols-md-2.row-cols-1
                .col 
                  +options_card('img/options/img-4.png', 'Классик', 'img/options/img-4-mobile.png')
                .col 
                  +options_card('img/options/img-5.png', 'Ретро', 'img/options/img-5-mobile.png')
          a(href="#").options__btn
            i
              svg(class="icon-arrow")
                use(xlink:href="img/sprite.svg#arrow")
            | Назад
      // /options

    include core/footer.pug
