extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="password.html") Ввод пароля
            li 
              a(href="size.html") Размер
            li 
              a(href="instruction.html") Инструкция
            li 
              a(href="editor-square.html") Редактор (квадрат)
            li 
              a(href="editor-rectangle.html") Редактор (прямоугольник)
            li 
              a(href="final.html") Финал
            li 
              a(href="constructor_options.html") Варианты конструктор
            li 
              a(href="mosaic-options.html") Варианты мозайка
            li 
              a(href="painting_options.html") Варианты картины

    include core/footer.pug
