extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="password.html") Ввод пароля
            li 
              a(href="size.html") Размер
            li 
              a(href="instruction.html") Инструкция
            li 
              a(href="editor.html") Редактор

    include core/footer.pug
