extends core/base.pug

block title 
  title Ввод пароля

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              span Конструктор
      // /breadcrumbs

      // quiz
      .quiz
        .container 
          .row.justify-content-center

            .col-xl-6.col-lg-8.col-md-10
              .quiz__title.quiz__title--center Введи девятизначный код из инструкции к набору

              .quiz__input 
                .input 
                  input(type="text")#passwordInput

              .editor__buttons 
                a(href="home.html").editor__btn.editor__btn--prev 
                  i
                    svg(class="icon-arrow")
                      use(xlink:href="img/sprite.svg#arrow")
                  | Назад
                a(href="size.html").editor__btn.editor__btn--next Далее
                  i
                    svg(class="icon-arrow")
                      use(xlink:href="img/sprite.svg#arrow")
      // /quiz

    include core/footer.pug
