extends core/base.pug

block title 
  title Размер

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              span Конструктор
      // /breadcrumbs

      // quiz
      .quiz
        .container 
          .row.justify-content-center

            .col-xl-7.col-lg-8
              .quiz__title.quiz__title--mark 
                .quiz__title-num 1
                span Выберите цветовое решение вашего набора

              .quiz__type 

                .row.row-cols-md-3.row-cols-1
                  .col 
                    label.quiz__type-item 
                      input(type="radio", name="quizType" checked)
                      span.quiz__type-block
                        span.quiz__type-img 
                          img(src="img/quiz-variants-img.jpg", alt="")
                        span.quiz__type-title Классик
                  .col 
                    label.quiz__type-item 
                      input(type="radio", name="quizType")
                      span.quiz__type-block
                        span.quiz__type-img 
                          img(src="img/quiz-variants-img.jpg", alt="")
                        span.quiz__type-title Ретро
                  .col 
                    label.quiz__type-item 
                      input(type="radio", name="quizType")
                      span.quiz__type-block
                        span.quiz__type-img 
                          img(src="img/quiz-variants-img.jpg", alt="")
                        span.quiz__type-title Гранж

                .quiz__title.quiz__title--mark 
                  .quiz__title-num 2
                  span Выберите размер вашего набора

                .row.row-cols-md-2.row-cols-1
                  .col 
                    label.quiz__type-item 
                      input(type="radio", name="quizSize" checked)
                      span.quiz__type-block
                        span.quiz__type-img 
                          img(src="img/quiz-variants-img.jpg", alt="")
                        span.quiz__content 
                          span.quiz__type-title Размер S
                          span.quiz__type-text 40х40 см
                  .col 
                    label.quiz__type-item 
                      input(type="radio", name="quizSize")
                      span.quiz__type-block
                        span.quiz__type-img 
                          img(src="img/quiz-variants-img.jpg", alt="")
                        span.quiz__content 
                          span.quiz__type-title Размер М
                          span.quiz__type-text 52х52 см

              .editor__buttons 
                a(href="password.html").editor__btn.editor__btn--prev 
                  i
                    svg(class="icon-arrow")
                      use(xlink:href="img/sprite.svg#arrow")
                  | Назад
                a(href="instruction.html").editor__btn.editor__btn--next Далее
                  i
                    svg(class="icon-arrow")
                      use(xlink:href="img/sprite.svg#arrow")
      // /quiz

    include core/footer.pug
