/* btn */
.btn { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  position: relative;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translate(0,-50%);
    svg {
      width: 42px;
      height: 42px;
    }
  }
  &--has-icon {
    padding: 30px 60px 30px 115px;
  }
  &--yellow {
    background-color: $primary_color;
    color: $text_color;
    fill: $text_color;
    @include media-breakpoint-up(md) {
      &:hover {
        background-color: lighten($primary_color, 10%);
      }
    }
  }
  &--black {
    background-color: $secondary_color;
    color: #fff;
    @include media-breakpoint-up(md) {
      &:hover {
        background-color: $primary_color;
        color: $text_color;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    font-size: 20px;
  }
  @include media-breakpoint-down(md) {
    padding: 26px 24px;
    font-size: 20px;
    i {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    &--has-icon {
      padding: 28px 24px 28px 64px;
      i {
        left: 24px;
      }
    }
  }
}
/* /btn */