/* final */
.final { 
  padding: 80px 0 100px;
  &__container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 40px;
    text-align: center;
  }
  &__images {
    margin-bottom: 50px;
    .row {
      margin-top: -30px;
      > * {
        margin-top: 30px;
      }
    }
  }
  &__img {
    display: block;
    border: 6px solid #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    transition: .3s;
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include media-breakpoint-up(md) {
      &:hover {
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.20);
      }
    }
  }
  &__buttons {
    .btn {
      width: 100%;
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    } 
  }
  &__triggers {
    display: flex;
    margin-left: -18px;
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: $primary_color;
      position: absolute;
      bottom: 0;
      left: 18px;
      right: 0;
    }
    li {
      margin-left: 18px;
      flex-grow: 1;
    }
  }
  &__trigger {
    display: block;
    padding: 13px 20px;
    border-radius: 16px 16px 0 0;
    background-color: #ddd;
    font-size: 24px;
    font-weight: 600;
    color: $text_color;
    text-align: center;
    &.active {
      background-color: $primary_color;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 15px 0 55px;
    &__title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    &__images {
      margin-bottom: 20px;
      .row {
        margin-left: -7px;
        margin-right: -7px;
        margin-top: -14px;
        > * {
          padding-left: 7px;
          padding-right: 7px;
          margin-top: 14px;
        }
      }
    }
    &__buttons {
      .btn {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }
    &__triggers {
      margin-bottom: 10px;
      margin-left: -10px;
      li {
        margin-left: 10px;
      }
    }
    &__trigger {
      padding: 10px 10px;
      font-size: 16px;
    }
  }
}
/* /final */